menu{
    grid-area: menu;
    margin: 0;
    color:black
  }
  
  aside{
    grid-area: aside;
    background-color: rgb(243, 246, 248);
  }
  
  main{
    grid-area: main;
  }
  
  footer{
    grid-area: footer;
    background-color:rgb(243, 246, 248)
    ;
    color: rgb(0, 0, 0);
  }
  
 
  @media (max-width:576px){
    
    body{
      display: grid;
      grid-template-areas: 
      "menu"
      "aside"
      "main"
      "footer";
      grid-template-columns: 1fr;
      height: 100vh;
    }
  
   
    .flex-container{
      display: flex;
      flex-direction: row;
    }
  
   
    .menu-mobile{
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      font-size: 1.5rem;
    }
  
    .menu-lateral{
      display: none;
    }
   
    
    #hidden-card{
      display: none;
    }
  

    .footer{
      padding-bottom: 0.5rem;
    }
  }
  
  @media (min-width:576px) {
   
    body{
      display: grid;
      grid-template-areas: 
      "menu aside"
      "menu main"
      "footer main";
      grid-template-columns: 15rem 1fr;
    }
  
   
    .flex-container{
      display: flex;
      flex-direction: column;
    }
  
    .grid-container{
      overflow-y: scroll;
      height: 80vh;
    }
  

    .menu-mobile{
      justify-content: start;
      align-items: center;
      padding: 1rem;
      font-size: 1.5rem;
    }
  
    .menu-cars{
      padding-bottom: 1.5rem;
    }
  
    .fa-solid.fa-bars{
      display: none;
    }
  
    nav{
      padding-top: 1rem;
    }
  }
  


  .flex-container-row{
    display: flex;
    flex-direction: row;
  }
  
  .flex-container-column{
    display: flex;
    flex-direction: column;
  }
  
  .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
 
  body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
 
  .menu-cars{
    align-items: center;
  }
  
  .p-menu{
    margin: 0;
  }
  
  i.fa-solid.fa-car, .fa-solid.fa-bars{
    padding-right: 1rem;
  }
  
  .p-lateral{
    padding-bottom: 0.5rem;
    margin: 0;
  }
  
 
  .aside-mobile{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
  }
  
  .p-aside{
    padding-bottom: 0.5rem;
    margin: 0;
  }
  

  .card{
    padding: 1rem 1rem 0 1rem;
    margin: 1rem;

  }
  
  
  .footer{
    font-size: 1.5rem;
  }
  
  .card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
  }

  .pagination
{
    display: inline-block;
}